@charset "utf-8";
@import '../variables';

/* Favorite */
button.favorite {
    width:24px;
    height:24px;
    // display:block;
    // position:absolute;
    // right:0;
    // top:0;
    // z-index:9999;
    cursor:pointer;
    @include transition(0.3s);
    border:none;
    outline:none;
    background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 0L15.6678 6.95173L23.4127 8.2918L17.9346 13.9283L19.0534 21.7082L12 18.24L4.94658 21.7082L6.06541 13.9283L0.587322 8.2918L8.33222 6.95173L12 0Z" fill="%23DEE4EC"/></svg>') no-repeat center;
    &:not(.on):hover,
    &:not(.on):focus {
        @include filter(brightness, 80%);
        // background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 0L15.6678 6.95173L23.4127 8.2918L17.9346 13.9283L19.0534 21.7082L12 18.24L4.94658 21.7082L6.06541 13.9283L0.587322 8.2918L8.33222 6.95173L12 0Z" fill="%23A3AEBE"/></svg>') no-repeat center;
    }
    &.on {
        background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 0L15.6678 6.95173L23.4127 8.2918L17.9346 13.9283L19.0534 21.7082L12 18.24L4.94658 21.7082L6.06541 13.9283L0.587322 8.2918L8.33222 6.95173L12 0Z" fill="%23FFD568"/></svg>') no-repeat center;
        &:hover,
        &:focus {
            background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 0L15.6678 6.95173L23.4127 8.2918L17.9346 13.9283L19.0534 21.7082L12 18.24L4.94658 21.7082L6.06541 13.9283L0.587322 8.2918L8.33222 6.95173L12 0Z" fill="%23FFD568"/></svg>') no-repeat center;
        }
    }
    &:active {
        // box-shadow: 2px 2px 5px #fc894d;
    }
}

/* Reactions : Like */
button.like {
    @include border-radius(8px);
    background:$white-real;
    border:1px solid $slate-300;
    border-color:$slate-300 !important;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    .icon {
        font-size:0px;
        display:inline-block;
        width:24px;
        height:24px;
        @include transition(0.3s);
        border:none;
        outline:none;
        background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_2757_4684" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2757_4684)"><path d="M12.0002 21.0023L10.5502 19.7023C8.86691 18.1857 7.47524 16.8773 6.37524 15.7773C5.27524 14.6773 4.40024 13.6898 3.75024 12.8148C3.10024 11.9398 2.64608 11.1357 2.38774 10.4023C2.12941 9.66901 2.00024 8.91901 2.00024 8.15234C2.00024 6.58568 2.52524 5.27734 3.57524 4.22734C4.62524 3.17734 5.93358 2.65234 7.50024 2.65234C8.36691 2.65234 9.19191 2.83568 9.97524 3.20234C10.7586 3.56901 11.4336 4.08568 12.0002 4.75234C12.5669 4.08568 13.2419 3.56901 14.0252 3.20234C14.8086 2.83568 15.6336 2.65234 16.5002 2.65234C18.0669 2.65234 19.3752 3.17734 20.4252 4.22734C21.4752 5.27734 22.0002 6.58568 22.0002 8.15234C22.0002 8.91901 21.8711 9.66901 21.6127 10.4023C21.3544 11.1357 20.9002 11.9398 20.2502 12.8148C19.6002 13.6898 18.7252 14.6773 17.6252 15.7773C16.5252 16.8773 15.1336 18.1857 13.4502 19.7023L12.0002 21.0023ZM12.0002 18.3023C13.6002 16.869 14.9169 15.6398 15.9502 14.6148C16.9836 13.5898 17.8002 12.6982 18.4002 11.9398C19.0002 11.1815 19.4169 10.5065 19.6502 9.91484C19.8836 9.32318 20.0002 8.73568 20.0002 8.15234C20.0002 7.15234 19.6669 6.31901 19.0002 5.65234C18.3336 4.98568 17.5002 4.65234 16.5002 4.65234C15.7169 4.65234 14.9919 4.87318 14.3252 5.31484C13.6586 5.75651 13.2002 6.31901 12.9502 7.00234H11.0502C10.8002 6.31901 10.3419 5.75651 9.67524 5.31484C9.00858 4.87318 8.28358 4.65234 7.50024 4.65234C6.50024 4.65234 5.66691 4.98568 5.00024 5.65234C4.33358 6.31901 4.00024 7.15234 4.00024 8.15234C4.00024 8.73568 4.11691 9.32318 4.35024 9.91484C4.58358 10.5065 5.00024 11.1815 5.60024 11.9398C6.20024 12.6982 7.01691 13.5898 8.05024 14.6148C9.08358 15.6398 10.4002 16.869 12.0002 18.3023Z" fill="%23949AA9"/></g></svg>') no-repeat center;
    }
    .num {
        font-weight:normal;
    }
    &.on {
        .icon {
            background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_2762_4885" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2762_4885)"><path d="M10.5502 19.7023L12.0002 21.0023L13.4502 19.7023C15.1336 18.1857 16.5252 16.8773 17.6252 15.7773C18.7252 14.6773 19.6002 13.6898 20.2502 12.8148C20.9002 11.9398 21.3544 11.1357 21.6127 10.4023C21.8711 9.66901 22.0002 8.91901 22.0002 8.15234C22.0002 6.58568 21.4752 5.27734 20.4252 4.22734C19.3752 3.17734 18.0669 2.65234 16.5002 2.65234C15.6336 2.65234 14.8086 2.83568 14.0252 3.20234C13.2419 3.56901 12.5669 4.08568 12.0002 4.75234C11.4336 4.08568 10.7586 3.56901 9.97524 3.20234C9.19191 2.83568 8.36691 2.65234 7.50024 2.65234C5.93358 2.65234 4.62524 3.17734 3.57524 4.22734C2.52524 5.27734 2.00024 6.58568 2.00024 8.15234C2.00024 8.91901 2.12941 9.66901 2.38774 10.4023C2.64608 11.1357 3.10024 11.9398 3.75024 12.8148C4.40024 13.6898 5.27524 14.6773 6.37524 15.7773C7.47524 16.8773 8.86691 18.1857 10.5502 19.7023Z" fill="%23F81C51"/></g></svg>') no-repeat center;
            // &:hover,
            // &:focus {
            //     background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 0L15.6678 6.95173L23.4127 8.2918L17.9346 13.9283L19.0534 21.7082L12 18.24L4.94658 21.7082L6.06541 13.9283L0.587322 8.2918L8.33222 6.95173L12 0Z" fill="%23FFD568"/></svg>') no-repeat center;
            // }
        }
        .num {
            font-weight:bold;
        }
    }
    &:hover {
        background:rgb(255, 223, 223);
        border-color:rgb(255, 182, 182) !important;
        .icon {
            background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_2762_4885" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2762_4885)"><path d="M10.5502 19.7023L12.0002 21.0023L13.4502 19.7023C15.1336 18.1857 16.5252 16.8773 17.6252 15.7773C18.7252 14.6773 19.6002 13.6898 20.2502 12.8148C20.9002 11.9398 21.3544 11.1357 21.6127 10.4023C21.8711 9.66901 22.0002 8.91901 22.0002 8.15234C22.0002 6.58568 21.4752 5.27734 20.4252 4.22734C19.3752 3.17734 18.0669 2.65234 16.5002 2.65234C15.6336 2.65234 14.8086 2.83568 14.0252 3.20234C13.2419 3.56901 12.5669 4.08568 12.0002 4.75234C11.4336 4.08568 10.7586 3.56901 9.97524 3.20234C9.19191 2.83568 8.36691 2.65234 7.50024 2.65234C5.93358 2.65234 4.62524 3.17734 3.57524 4.22734C2.52524 5.27734 2.00024 6.58568 2.00024 8.15234C2.00024 8.91901 2.12941 9.66901 2.38774 10.4023C2.64608 11.1357 3.10024 11.9398 3.75024 12.8148C4.40024 13.6898 5.27524 14.6773 6.37524 15.7773C7.47524 16.8773 8.86691 18.1857 10.5502 19.7023Z" fill="%23F81C51"/></g></svg>') no-repeat center;
        }
    }
    &:not(.on):hover {
        .icon {
            // background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_2762_4885" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2762_4885)"><path d="M10.5502 19.7023L12.0002 21.0023L13.4502 19.7023C15.1336 18.1857 16.5252 16.8773 17.6252 15.7773C18.7252 14.6773 19.6002 13.6898 20.2502 12.8148C20.9002 11.9398 21.3544 11.1357 21.6127 10.4023C21.8711 9.66901 22.0002 8.91901 22.0002 8.15234C22.0002 6.58568 21.4752 5.27734 20.4252 4.22734C19.3752 3.17734 18.0669 2.65234 16.5002 2.65234C15.6336 2.65234 14.8086 2.83568 14.0252 3.20234C13.2419 3.56901 12.5669 4.08568 12.0002 4.75234C11.4336 4.08568 10.7586 3.56901 9.97524 3.20234C9.19191 2.83568 8.36691 2.65234 7.50024 2.65234C5.93358 2.65234 4.62524 3.17734 3.57524 4.22734C2.52524 5.27734 2.00024 6.58568 2.00024 8.15234C2.00024 8.91901 2.12941 9.66901 2.38774 10.4023C2.64608 11.1357 3.10024 11.9398 3.75024 12.8148C4.40024 13.6898 5.27524 14.6773 6.37524 15.7773C7.47524 16.8773 8.86691 18.1857 10.5502 19.7023Z" fill="%23F81C51"/></g></svg>') no-repeat center;
            @include filter(brightness, 140%);
            opacity:.6;
        }
    }
    &:active {
        // box-shadow: 2px 2px 5px #fc894d;
    }
}